body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  height: 250px;
  width: 250px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  box-sizing: border-box;
}

button {
  background-color: #282c34;
  color: #61dafb;
  padding: 5px 20px;
  border: 2px solid #61dafb;
  border-radius: 5px;
  font-family: inherit; /* Inherit font family from body */
  font-size: calc(10px + 2vmin);
  cursor: pointer;
  transition: all 0.2s ease-in-out, color 0.2s ease-in-out; /* Add smooth hover effect */
}

button:hover {
  color: grey;
  border: 2px solid grey;
}

.controls {
  display: flex;
}

.controls > *:not(:last-child) {
  /* Target all children except the last one */
  margin-right: 10px;
}

.message {
  color: red;
}

.sketchWrapper {
  width: 200px;
  height: 200px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 1px;
  .canvas-container {
    width: 200px !important;
  }
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0000;
  width: 250px;
  height: 250px;
  position: relative;
}

.child1,
.child2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blob-1 {
  width: 250px;
  aspect-ratio: 1;
  border: 10px solid #0000;
  padding: 5px;
  background: radial-gradient(farthest-side, #61dafb 98%, #0000) 0 0/20px 20px
      no-repeat,
    conic-gradient(from 90deg at 10px 10px, #0000 90deg, #61dafb 0) content-box,
    conic-gradient(from -90deg at 210px 210px, white 90deg, #61dafb 0)
      content-box,
    #2c2c2c;
  filter: blur(4px) contrast(18);
  animation: b1 8s infinite;
}

@keyframes b1 {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0;
  }
}
